body {
	background-image: url("./images/bosqueFondo.jpg");
	font: 14px "Open Sans", Helvetica, Verdana, Arial, Sans-serif;
	width:75%;
	margin:0 auto;
	color:rgb(99, 47, 112);
}
li {
  display: inline-block;
}
a {
  display: inline-block;
	padding:15px;				
	font-weight:bold;
	text-decoration:none;	
}				
a:hover {
  color:rgb(143, 18, 70);
  background:rgb(247, 148, 148);
  transition:0.7s;
}

/* IDS */
#barra {
	background:#f8eaaa;
}

#game {
	width:100%;
	min-height:40px;
	height:auto;
	float:left;
	overflow:hidden;
}

#contacto {
	background:#f8eaaa;
	padding:15px;
	width:98%;
	min-height:100px;
	height:auto;
	overflow:hidden;
}